<header>
	<h1>
		<% if @project and user_signed_in? and current_user == @project.user %>
		<%= best_in_place @project, :title, as: :input, place_holder: "Project Title" %>
		<% else %>
		"Cards"
		<% end %>
	</h1>
	<nav>
		<% if user_signed_in? %>
		<%= link_to 'projects', projects_path, class: :button %> |
		<% if @project %>
		<%= link_to('new card', project_cards_path(@project), class: :button, methid: :post, remote: true) %> |
		<% end %>
		<%= link_to 'logout', destroy_user_session_path, class: :button, method: :delete %>
		<% else %>
				<%= link_to 'log in', new_user_session_path, class: :button %> |
				<%= link_to 'sign up', new_user_registration_path, class: :button %>
			<% end %>
		</nav>
	</header>